[Unit]
Description=Modbus Test Loop
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Workspace/vue-monorepo/avis
ExecStart=/usr/local/bin/poetry --directory agent run python agent/scripts/python/modbus_test_loop.py --host localhost --port 5020 --chaos
Restart=always
User=pi
Group=pi


[Install]
WantedBy=multi-user.target
